.home {
  /* position: relative; */
  font-family: Poppins;
}

.homeImg {
  font-family: Poppins;
  opacity: 0.4px;
}

.homeImg > img {
  width: 100%;
  object-fit: cover;
}

.homeText {
  width: 751px;
  /* height: 442px; */
  top: 138px;
  left: 713px;
}

.homeText > p {
  font-weight: 600;
  position: absolute;
  width: 608px;
  height: 183px;
  line-height: 55.54px;
  top: 138px;
  left: 716px;
  font-size: 42px;
  color: #ffffff;
}

.homeTextInnerButton {
  width: 322px;
  margin-top: 29px;
  height: 50px;
  border-radius: 57px;
  background: #ffde00;
  position: absolute;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.625%; /* 25.313px */
  text-transform: uppercase;
  padding: 13px 20px 12px 21px;
}

.homeTextInnerButton > button {
  width: 281px;
  background-color: inherit;
  outline: none;
  border: none;
  color: #2a2727;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140.625%; /* 25.313px */
  text-transform: uppercase;
}

.homeText > div {
  position: absolute;
  border-radius: 1.25rem;
  padding: 20px;
  opacity: 0.3;
  background: #000;
  width: 571px;
  height: 224px;
  top: 356px;
  left: 713px;
}

.hometextCon {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hometextCon svg {
  width: 16.5px;
  height: 20.5px;
  flex-shrink: 0;
}

.homeTextInner {
  position: absolute;
  z-index: 3;
  top: 386px;
  left: 743px;
}

.homeTextInner p {
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
}

.homeImgs {
  display: none;
}

@media screen and (max-width: 480px) {
  .homeText {
    width: 195px;
    /* height: 57px; */
    top: 138px;
    left: 113px;
  }

  .homeText > p {
    top: 28px;
    left: 163px;
    width: 185px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  .homeText > div {
    width: 177.91px;
    height: 69.79px;
    top: 118.93px;
    left: 163px;
    border-radius: 6.23px;
  }

  .homeImgs {
    display: block;
    background: var(#538dd7);
  }

  .homeTextInner {
    position: absolute;
    top: 122.93px;
    left: 173px;
  }

  .homeTextInner p {
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hometextCon {
    gap: 5px;
  }

  .homeTextInnerButton {
    position: absolute;
    top: 40px;
    width: 100.33px;
    height: 15.579px;
    margin: 0;
    border-radius: 17.76px;
    padding: 0;
  }

  .homeTextInnerButton > button {
    width: 87.555px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 7.79px;
    text-align: center;
    font-family: Poppins;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%; /* 8.438px */
    text-transform: uppercase;
  }

  .homeTextInnerButton1 {
    position: absolute;
    top: 25px;
    width: 100.33px;
    height: 15.579px;
    margin: 12px;
    border-radius: 17.76px;
    padding: 0;
  }

  .hometextCon > div {
    width: 38px;
    display: flex;
    align-items: center;
  }

  .hometextCon span {
    display: flex;
    align-items: center;
  }

  .homeImgBig {
    display: none;
  }

  .hometextCon svg {
    width: 6.39px;
    height: 6.39px;
  }

  .hometextCon > div > img {
    width: 100%;
    object-fit: cover;
  }
}
