.growindia {
  position: absolute;
  top: 1143px;
  right: 0;
  border: 1px solid green;
}

.growindia > p {
  position: absolute;
  width: 423px;
  height: 204px;
  /* top: 1143px; */
  top: 0;
  /* left: 783px; */
}

.growTextBtn {
  display: none;
}

.growText {
  position: absolute;
  width: 423px;
  height: 204px;
  top: 1113px;
  left: 703px;
  z-index: 999;
  color: #000;
  font-size: 42px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .growText {
    left: 40px;
    width: 140px;
    top: 320px;
    height: 61px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 148%;
  }

  .growTextBtn {
    display: block;
    width: 84px;
    height: 22.569px;
    border-radius: 32.378px;
    background: #538dd7;
    position: absolute;
    top: 412px;
    border: none;
    outline: none;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 9.311px;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    line-height: 140.625%; /* 13.094px */
    text-transform: uppercase;
    left: 38px;
  }
}
