.trendingSpeaker {
  position: absolute;
  width: 1150.23px;
  height: 345px;
  top: 5000px;
  left: 50%;
  transform: translateX(-50%);
}

.trendingSpeaker > h1 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 38px;
  line-height: 148%; /* 47.36px */
}

.trendingSpeaker > div {
  display: flex;
  gap: 25px;
}

.trendingSpeakerImg {
  width: 220.645px;
  height: 255.79px;
  border-radius: 11.981px;
  background: #fff;
  mix-blend-mode: color;
  box-shadow: 0px 3.59424px 11.38177px 0px rgba(0, 0, 0, 0.19);
}

.trendingSpeakerImg img {
  width: 100%;
  display: block;
  border-top-left-radius: 11.981px;
  border-top-right-radius: 11.981px;
  object-fit: covers;
  background: #fff;
  filter: grayscale(100%);
  box-shadow: 0px 3.59424px 11.38177px 0px rgba(0, 0, 0, 0.19);
}

.TrendingSpeakerText {
  display: flex;
  flex-direction: column;
  background-color: #538dd7;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 221.645px;
  height: 59px;
  color: #fff;
  border-bottom-left-radius: 11.981px;
  border-bottom-right-radius: 11.981px;
}

.TrendingSpeakerText > p {
  text-align: center;
  font-family: Poppins;
  font-size: 10.783px;
  font-style: normal;
  font-weight: 600;
  line-height: 130.4%;
}

.TrendingSpeakerText > span {
  display: block;
  width: 161.741px;
  text-align: center;
  font-family: Poppins;
  font-size: 8.387px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.4%;
}

@media screen and (max-width: 480px) {
  .trendingSpeaker {
    top: 3310px;
  }

  .trendingSpeaker {
    width: 375px;
    overflow: hidden;
  }

  .trendingSpeaker > div {
    justify-content: space-around;
  }

  .trendingSpeaker > div > div {
    width: 142.633px;
    height: 164.606px;
    /* border: 1px solid red; */
  }

  .trendingSpeakerImg {
    width: 142.633px;
    height: auto;
  }

  .trendingSpeakerImg > img {
    /* border: 1px solid red; */
    width: 142.633px;
    /* width: 100%; */
  }

  .TrendingSpeakerText {
    width: 142.633px;
  }

  .TrendingSpeakerText > p {
    font-size: 10px;
    font-weight: 600;
  }

  .TrendingSpeakerText > span {
    font-size: 6px;
    width: 124px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 133.4%;
  }

  .trendingSpeaker > div > div:nth-child(4),
  .trendingSpeaker > div > div:nth-child(5),
  .trendingSpeaker > div > div:nth-child(3) {
    display: none;
  }
}
